<!doctype html><!-- AAReSt: AAlener Register-Stack-Simulator -->
<html ng-app="ajaxApp">
 <head>
<meta charset="utf-8"/>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
  <script src="angular-1-7-2.min.js"></script>
  <script src="aarest.js"></script>
  <link rel="stylesheet" type="text/css" href="aarest.css" media="screen" />
 </head>
 <body ng-controller="Controller as q">
	 
	 <div class="grid-container">
		 <div class="grid-item">
			 <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="700px" style="background:#F0F0F0">
				  <text ng-attr-x="{{q.pos.stack.x}}" y="120" font-size="72">AAReSt</text>
				  <text ng-attr-x="{{q.pos.stack.x}}" y="140">AAlener Register-Stack-Simulator</text>
				    <image xlink:href="Hochschule-aalen.svg" height="64" ng-attr-x="{{q.pos.out.x}}" y="10"/>
				 <!-- Stack -->
				 <text ng-attr-x="{{q.pos.stack.x}}" ng-attr-y="{{q.y(-1.5)}}">Stack</text>
				 <g class="svgstack" ng-attr-transform="translate({{q.pos.stack.x}},{{q.y($index)}})"   ng-repeat="x in q.stack track by $index">
					 <rect x="10" y="-12" width="60" height="20"/>
					 <text x="0" y="2" text-anchor="end">{{$index}}</text>
					 <text x="60" y="2" text-anchor="end">{{q.stack[$index]}}</text>
				 </g>
				 <!-- Call -->
				 <text ng-attr-x="{{q.pos.call.x}}" ng-attr-y="{{q.y(-1.5)}}">Call</text>
				 <g class="svgstack" ng-attr-transform="translate({{q.pos.call.x}},{{q.y($index)}})"   ng-repeat="x in q.call track by $index">
					 <rect x="10" y="-12" width="60" height="20"/>
					 <text x="0" y="2" text-anchor="end">{{$index}}</text>
					 <text x="60" y="2" text-anchor="end">{{q.call[$index]}}</text>
				 </g>
				 <!-- RAM -->
				 <text ng-attr-x="{{q.pos.ram.x-40}}" ng-attr-y="{{q.y(-1.5)}}">RAM</text>
				 <g class="svgstack" ng-attr-transform="translate({{q.pos.ram.x}},{{q.y($index)}})"   ng-repeat="x in q.ram track by $index">
					 <rect x="-50" y="-16" width="60" height="20"/>
					 <text x="-60" y="0" text-anchor="end">{{$index}}</text>
					 <text x="0" y="0" text-anchor="end">{{q.ram[$index]}}</text>
				 </g>
				 <text class="animated" x="-600" y="200" text-anchor="end">{{q.a1.txt}}
					 <animate id="a1" attributeName="x" begin="indefinite" ng-attr-from="{{q.a1.x1}}" ng-attr-to="{{q.a1.x2}}"  ng-attr-dur="{{q.a1.dur}}" fill="remove"/>
					 <animate id="a1y" attributeName="y" begin="a1.begin"  ng-attr-from="{{q.a1.y1}}" ng-attr-to="{{q.a1.y2}}"  ng-attr-dur="{{q.a1.dur}}" fill="remove"/>
				 </text>
				 <text class="animated" x="-600" y="240" text-anchor="end">{{q.a2a.txt}}
					 <animate id="a2" attributeName="x" begin="indefinite" ng-attr-from="{{q.a2a.x1}}" ng-attr-to="{{q.a2a.x2}}"  ng-attr-dur="{{q.a2a.dur}}" fill="remove"/>
					 <animate id="a2y" attributeName="y" begin="a2.begin"  ng-attr-from="{{q.a2a.y1}}" ng-attr-to="{{q.a2a.y2}}"  ng-attr-dur="{{q.a2a.dur}}" fill="remove"/>
				 </text>
				 <text class="animated" x="-600" y="260" text-anchor="end">{{q.a2b.txt}}
					 <animate id="a2b" attributeName="x" begin="a2.end" ng-attr-from="{{q.a2b.x1}}" ng-attr-to="{{q.a2b.x2}}"  ng-attr-dur="{{q.a2b.dur}}" fill="remove"/>
					 <animate id="a2by" attributeName="y" begin="a2.end"  ng-attr-from="{{q.a2b.y1}}" ng-attr-to="{{q.a2b.y2}}" ng-attr-dur="{{q.a2b.dur}}"  fill="remove"/>
				 </text>
				 <!-- ALU -->
				 <g ng-attr-transform="translate({{q.pos.alu.x}},{{q.pos.alu.y}})">
				 <text x="-50" y="-65" font-weight="bold">ALU</text>
				 <rect x="-160" y="-60" width="200" height="150" style="fill:none;stroke: black"/>
				 <text x="-150" y="-20">PC:</text>
				 <text x="-100" y="-20">{{q.pc}}</text>
				 <text x="-150">CMD:</text>
				 <text x="-100">{{q.prog[q.pc][0]}}</text>
				 <text x="-150" y="40">Adr:</text>
				 <text x="-100" y="40">{{q.adr}}</text>
				 <text text-anchor="end">{{q.prog[q.pc][1]}}</text>
				 </g>
				 <!-- Ausgabe -->
				 <g ng-attr-transform="translate({{q.pos.out.x}},{{q.pos.out.y}})">
					 <rect x="-10" y="-15" width="200" height="300" style="fill:none;stroke: black"/>
					 <text x="0" y="-20">Ausgabe:</text>
					 <text x="0" ng-attr-y="{{$index * 20}}" ng-repeat="x in q.out track by $index">{{q.out[$index]}}</text>
				 </g>
				 <line ng-attr-x1="{{q.pos.alu.x-160}}" ng-attr-y1="{{q.pos.alu.y+40}}" ng-attr-x2="{{q.pos.ram.x+12}}" ng-attr-y2="{{q.y(q.adr)-5}}" style="stroke:rgb(255,0,0);stroke-width:2" />
			 </svg>
		 </div>
		 <div class="grid-item"><h1>Programm <button id="myBtn" ng-click="q.modal_open()">Edit</button></h1>
			 <input id="button-step" type="button" value="Step" ng-click="q.proc()" ng-disabled="q.running"/>
			   Speed: <select ng-model="q.tf">
				   <option value="0.001">10</option>
				   <option value="0.002">5</option>
				   <option value="0.005">2</option>
				   <option value="0.01">1</option>
			   </select>
			   Auto: <input type="checkbox" ng-model="q.auto">
				   <input type="button" value="Reset" ng-click="q.reset()"/>
			 <table border="1">
				 <tr border="1" ng-repeat="x in q.prog track by $index" ng-attr-style="{{($index == q.pc)?'background:red':''}}">
					 <th align="right">{{$index}}</th>
					 <td align="left">{{q.prog[$index][0]}}</td>
					 <td align="left">{{q.prog[$index][1]}}</td>
				 </tr>
				 </table>
		 </div>
		 
	 </div>
	 
	 <div>

  </div>
  
  <div id="myModal"  ng-class="q.modal_is_open">
	  
	  <!-- Modal content -->
	  <div class="modal-content">
		  <span class="close" ng-click="q.modal_close()">&times;</span>
		  <textarea rows="20" cols="40" ng-model="q.progtext"></textarea>
	  </div>
	  
  </div>

 </body>
</html>
